*
{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    
    
  }

  
.nav-menu {
    background-color: #FDF8F6;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
  }
.menu-bars #menu-btn
{
  display: none;
}
.profile
{
  display: flex;
  right: 70px;
}
.profile i{
  font-size: 30px;
}
  .nav-text {
    
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }

  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }

  .nav-text a:hover {
    color: #53B9EA;
  }

  span {
    margin-left: 16px;
  }
 
  
 


  @media screen and (max-width: 600px) {
    .menu-bars #menu-btn
    {
      display: flex;
    }
    .nav-menu
    {
        display: none;
    }
    .profile
    {
      right: 10px;
    }
    
    
  }